<h2>Create contact</h2>
<br/>
<form action="/contact/<%= @contact.id%>" method="post"role="form">

 <div class="form-group">
   <label for="contact_title">First Name:</label>
   <br>
   <input id="contact_title" class="form-control" name="contact[first_name]" type="text" value="<%= @contact.first_name %>" style="width=90%"/>
 </div>

 <div class="form-group">
   <label for="contact_body">Last Name:</label>
   <br>
   <input id="contact_title" class="form-control" name="contact[last_name]" type="text" value="<%= @contact.last_name %>" style="width=90%"/>
 </div>

 <div class="form-group">
   <label for="contact_body">Email:</label>
   <br>
   <input id="contact_title" class="form-control" name="contact[email]" type="text" value="<%= @contact.email %>" style="width=90%"/>
 </div>

 <div class="form-group">
   <label for="contact_body">Importance (1-5):</label>
   <br>
   <input id="contact_title" class="form-control" name="contact[importance]" type="text" value="<%= @contact.importance %>" style="width=90%"/>
 </div>

 <button type="submit" class="btn btn-success">Submit</button>
</form>