<h1><%=h @contact.id %></h1>
<p><%=h @contact.first_name %></p>
<p><%=h @contact.last_name %></p>
<p><%=h @contact.email %></p>
<br>
<a href="/contact/<%= @contact.id %>/edit">Edit Post</a>
<br>
<a href="/contact/<%= @contact.id %>/delete">Delete</a>